* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

input, button {
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

input {
  background: #1e293b;
  color: white;
  border: 1px solid #334155;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
